@media(max-width:1200px){
    .container{
       max-width: 960px;
    }
    .header__nav .container{
        flex-direction: column;
       }

       .inf2{
        flex-direction: column;
       }
    
        .leader__cards{
        justify-content: center;
       }

    .news__card{
        flex-direction: column;
        max-width: 570px;
    }
    .news__cards{
        flex-direction: column;
        max-width: 570px;
    }
}
@media(max-width:992px){
    .container{
       max-width: 720px;
    }
    .header__link{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
       }
       .header__link-icon{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
       }

       .footer .container {
        flex-direction: column;
       }
    
           .leader__card{
        justify-content: center;
    }
    .inf2{
        justify-content: center;
    }
}
@media(max-width:768px){
    .container{
       max-width: 540px;
    }

    .cards__contant{
        flex-direction: column;
    }

    .news{
        max-width: 510px;
        width: 100%;
        flex-direction: column;
    }
    
     .section__box2{
        flex-direction: column;
        
    }
    
    
     h3{
        padding-top: 30px;
    }

    .main .container {
        justify-content: center;
    
}
@media(max-width:576px){
    .container{
       max-width: auto;
    }
}
